.back-button {
    position: fixed;
    top: 35px;
    left: 14px;
    padding: 8px 12px;
    background-color: darkred;
    white-space: nowrap;
    color: #e5e5e5;
    border: none;
    border-radius: 25%;
    cursor: pointer;
    font-size: 14px;
    z-index: 1000; /* Ensures it stays on top of other elements */
    height: 30px;
    width: 30px;
    transition: background-color 0.3s ease;
}

    .back-button:hover {
        background-color: #212121;
    }