@page "/Cooking"
<h4>Recipies</h4>
<input @bind="SearchTerm" @bind:event="oninput" />
<BackButton />
Showing @FilteredRecipies.Count out of @Recipies.Count
<br />
<br />

<ul>
    @foreach (var Recipie in FilteredRecipies)
    {
        <li>@Recipie.Title</li>
    }
</ul>

@code {
    string SearchTerm { get; set; } = "";
    public class RecipieList
    {
        public string Title { get; set; }
    }
    
    List<RecipieList> Recipies = new List<RecipieList>
    {
        new RecipieList {Title = "Cake"},
        new RecipieList {Title = "Pancake"},
        new RecipieList {Title = "Chicken"},
        new RecipieList {Title = "Stir fry"},
        new RecipieList {Title = "Soup"}
    };

    List<RecipieList> FilteredRecipies => Recipies.Where(i => i.Title.ToLower().Contains(SearchTerm.ToLower())).ToList();
}