.display {
    border: 1px, solid, black;
}
.left_display {
    border: 1px, solid, black;
}
#error {
    color:darkred;
}
#noterror {
    color: #A5FFC9;
}
#result {
    border: none;
}
.result {
    border: none;
}
#col{
    width:200px;
}
#activity {
    width: 175px;
    height: 25px;
    background-color: #212121;
    box-shadow: none;
    color: #e5e5e5;
}
.text_box_in {
    width: 40px;
    height: 25px;
    background-color: #212121;
    box-shadow: none;
    color: #e5e5e5;
}
.text_box_label {
    width: 100px;
    height: 25px;
    text-align: right;
    display: inline-block;
}
button {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 36px;
    border-radius: 18px;
    background-color: #A5C9FF;
    border: solid 1px transparent;
    color: #212121;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
    button:hover {
        background-color: transparent;
        transition: all .1s ease-in-out;
        color: #A5C9FF;
    }

    button:active {
        background-color: #A5C9FF;
        color: #212121;
    }
