@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <!--<div class="top-mid-row px-4"><SearchBar /></div>-->

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>