<div class="pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Michał Malenda</a>
    <button class="navbar-toggler" @onclick="() => ToggleNavMenu(navSubmenu)">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse" @onclick="CollapseNavMenu">
    <ul class="navbar-nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => ToggleNavMenu(NavSubmenu.None)" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => ToggleSubmenu(NavSubmenu.Examples)">
                <span class="bi bi-list" aria-hidden="true"></span> Examples
            </NavLink>
        </li>
        @if (navSubmenu == NavSubmenu.Examples)
        {
            <SubPage Page="counter" Icon="clock" Name=" Counter" />
            <SubPage Page="fetchdata" Icon="clipboard" Name=" Fetch data" />
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => ToggleSubmenu(NavSubmenu.Projects)">
                <span class="bi bi-tools" aria-hidden="true"></span> Projects
            </NavLink>
        </li>
        @if (navSubmenu == NavSubmenu.Projects)
        {
            <SubPage Page="calculator" Icon="calculator" Name=" Calculator" />
            <SubPage Page="tdee" Icon="activity" Name=" TDEE Calculator" />
            <SubPage Page="0orO" Icon="circle" Name=" Zero or O" />
            <SubPage Page="minutesmaker" Icon="pen" Name=" Minutes Maker" />
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-person" aria-hidden="true"></span> About
            </NavLink>
        </li>
    </ul>
</div>
@code {
    private enum NavSubmenu
    {
        None,
        Projects,
        Examples
    }
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private NavSubmenu navSubmenu = NavSubmenu.None;
    private void ToggleNavMenu(NavSubmenu? submenu = null)
    {
        collapseNavMenu = !collapseNavMenu;
        navSubmenu = submenu ?? navSubmenu;
    }
    private void ToggleSubmenu(NavSubmenu submenu)
    {
        if (navSubmenu == submenu)
            navSubmenu = NavSubmenu.None;
        else
            navSubmenu = submenu;
    }
    void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }
}
