.search-bar {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    margin: 20px 0;
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .tile:hover {
        background-color: #d0d0d0;
    }
