@inject NavigationManager Navigation

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Content { get; set; }

    [Parameter]
    public string Link { get; set; }

    private void NavigateToLink()
    {
        Navigation.NavigateTo(Link);
    }
}

<div class="tile" @onclick="NavigateToLink">
    @Content
</div>
